<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap413/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap413/css/style.css}"/>
    <style>
        h1{
            background-color: #005cbf;
            text-align: center;
        }
        .bi{
            height: 30px;width: 30px;
        }
    </style>
</head>
<body>
<h1>MÍT CAKE SHOP</h1>
<p>
    <a href="/shopping-cart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    Your cart</svg>Giỏ hàng</a>
</p>

<div class="container" >
    <div class="row infor" style="clear: both">
        <div class="col-sm-3 col-6 div-card" th:each="item : ${products}">
            <div class="card">
                <div style="height: 300px">
                    <img  height="100%" class="card-img-top" th:src="@{${item.description}}" alt="Card image">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="margin-bottom: 0" th:text="${item.name}" >Bánh kem Gấu</h5>
                    <p class="card-text" th:text="${item.price}+ 'VNĐ'" ></p>
                    <a th:href="@{/view/__${item.id}__}" class="btn btn-primary">Thông tin</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
<script th:src="@{/bootstrap413/js/bootstrap.bundle.min.js}"></script>
</body>
</html>