<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add BLOG</h3>
<form th:action="@{/save}" th:object="${blog}" method="post">
    <input type="hidden" th:field="*{idBlog}">
    <div>
        <label>Name Blog</label>
        <input type="text" th:field="*{nameBlog}">
    </div>
    <div>
        <label>Name Content</label>
        <input type="text" th:field="*{content}"/>
    </div>
    <div>
        <label>Category</label>
        <select th:field="*{category}">
            <option th:each="category: ${listCategory}" th:value="${category.idCategory}" th:text="${category.nameCategory}">
            </option>
        </select>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>