<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap413/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css"/>
    <style>
        th {
            color: salmon;
        }

        a {
            color: saddlebrown;
        }

        .footer {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        table.dataTable thead th {
            border-top: none;
        }
    </style>
</head>
<body class="h-100">

<p>
    <a th:href="@{create}">
        Add new customer
    </a>
</p>

<form action="/search" th:object="${product}">
    <input type="text" th:field="*{name}">
    <input type="submit" value="Search">

</form>

<table border="1">
<tr>
    <th>No.</th>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Describe</th>
    <th>Note</th>
    <th colspan="3">Action</th>
</tr>
<tr th:each="product,loop: ${listProduct}">
    <td th:text="${loop.count}"></td>
    <td th:text="${product.getId()}"></td>
    <td th:text="${product.getName()}"></td>
    <td th:text="${product.getPrice}"></td>
    <td th:text="${product.getDescribe}"></td>
    <td th:text="${product.getNote()}"></td>
    <td><a th:href="@{/delete/__${product.id}__}">Delete</a></td>
    <td><a th:href="@{edit/{id}(id=${product.id})}">Edit</a></td>
    <td><a th:href="@{/view/{id}(id=${product.id})}">View</a></td>
</tr>
</table>

</body>
</html>